@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap");
.App {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  font-family: "Nunito Sans", sans-serif;
  box-sizing: border-box;
  background-color: #f2f3f4;
  width: 100vw;
  height: 100vh;
}
